@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
}

.header__img {
  height: 8rem;
  width: auto;
}
@media only screen and (max-width: 530px) {
  .header__img {
    height: 6rem;
  }
}
.header__details {
  display: flex;
  gap: 3rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 800px) {
  .header__details {
    gap: 0;
  }
}
.header__item {
  list-style: none;
  padding: 1rem 2rem;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}
@media only screen and (max-width: 400px) {
  .header__item {
    padding: 0.5rem 1rem;
  }
}
.header__item:hover {
  background-color: rgba(0, 0, 0, 0.06);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.header__link {
  color: #eee;
  text-decoration: none;
}
.header__call {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}
@media only screen and (max-width: 530px) {
  .header__call {
    display: none;
  }
}
.header__call--name {
  font-size: 1.5rem;
  font-weight: 100;
}
.header__call--phone {
  font-size: 2rem;
  font-weight: 600;
}

.section__solarPanel {
  color: #eee;
  padding-left: 15rem;
  padding-top: 20rem;
  line-height: 1.2;
}
@media only screen and (max-width: 1000px) {
  .section__solarPanel {
    padding-left: 10rem;
    padding-top: 12rem;
  }
}
@media only screen and (max-width: 600px) {
  .section__solarPanel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4rem;
  }
}
.section__solarPanel .heading-primary {
  font-size: 4.5rem;
  width: 59rem;
  margin-bottom: 2.2rem;
  letter-spacing: 3px;
  color: #eee;
}
@media only screen and (max-width: 1000px) {
  .section__solarPanel .heading-primary {
    font-size: 3.8rem;
    width: 50rem;
    letter-spacing: 2px;
  }
}
@media only screen and (max-width: 600px) {
  .section__solarPanel .heading-primary {
    font-size: 2.6rem;
    letter-spacing: 0;
    width: 90%;
  }
}
.section__solarPanel .heading-secondary {
  font-size: 2.3rem;
  width: 70rem;
  margin-bottom: 2.2rem;
  font-weight: lighter;
}
@media only screen and (max-width: 1000px) {
  .section__solarPanel .heading-secondary {
    font-size: 1.7rem;
    width: 50rem;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 600px) {
  .section__solarPanel .heading-secondary {
    font-size: 1.6rem;
    letter-spacing: 0;
    width: 90%;
  }
}
.section__solarPanel .btn {
  display: flex;
  gap: 2.5rem;
}
@media only screen and (max-width: 600px) {
  .section__solarPanel .btn {
    gap: 2rem;
  }
}
.section__solarPanel .btn__priamry {
  color: #eee;
  font-size: 1.4rem;
  background-color: rgb(60, 171, 144);
  padding: 1.2rem 3.4rem;
  border-radius: 40px;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.1s;
}
.section__solarPanel .btn__priamry:hover {
  background-color: #0b9586;
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.4);
}
.section__solarPanel .btn__priamry:active, .section__solarPanel .btn__priamry:visited {
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
}
.section__solarPanel .btn__secondary {
  font-size: 1.4rem;
  background-color: rgba(255, 187, 28, 0.9411764706);
  color: #2a3334;
  padding: 1.2rem 3.4rem;
  border-radius: 40px;
  text-decoration: none;
  transition: background-color 0.2s, transform 0.1s;
}
.section__solarPanel .btn__secondary:hover {
  background-color: rgba(255, 197, 61, 0.9411764706);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.4);
}
.section__solarPanel .btn__secondary:active, .section__solarPanel .btn__secondary:visited {
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
}

.section__leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 5rem;
}
@media only screen and (max-width: 950px) {
  .section__leftSide {
    width: 100%;
  }
}
.section__leftSide .heading-dark {
  font-size: 3.5rem;
  color: #000;
  font-weight: 600;
}
@media only screen and (max-width: 1050px) {
  .section__leftSide .heading-dark {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 380px) {
  .section__leftSide .heading-dark {
    font-size: 2.4rem;
  }
}
.section__leftSide .paragraph {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
@media only screen and (max-width: 1050px) {
  .section__leftSide .paragraph {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
.section__leftSide .list {
  line-height: 3rem;
  font-size: 1.7rem;
  font-weight: bold;
}
@media only screen and (max-width: 1050px) {
  .section__leftSide .list {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}
@media only screen and (max-width: 380px) {
  .section__leftSide .list {
    font-size: 1.1rem;
  }
}
.section__leftSide .list__item {
  list-style: none;
}
.section__leftSide .list__item--number {
  color: #84bd3a;
  margin-right: 1rem;
  font-weight: 500;
}
@media only screen and (max-width: 700px) {
  .section__rightSide {
    display: flex;
    justify-content: center;
  }
}
.section__rightSide .imgs {
  position: relative;
  z-index: 0;
}
@media only screen and (max-width: 700px) {
  .section__rightSide .imgs {
    width: 50%;
  }
}
.section__rightSide .box {
  position: absolute;
  background-color: #ffbb1c;
  width: 22rem;
  height: 17rem;
  bottom: 5rem;
  left: -5rem;
  z-index: 10;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 950px) {
  .section__rightSide .box {
    width: 16rem;
    height: 13rem;
  }
}
.section__rightSide .box__img {
  width: 10rem;
  padding-left: 2rem;
}
@media only screen and (max-width: 950px) {
  .section__rightSide .box__img {
    width: 8rem;
  }
}
.section__rightSide .box__text {
  padding: 0 2rem;
  font-size: 1.4rem;
}
@media only screen and (max-width: 950px) {
  .section__rightSide .box__text {
    font-size: 1.2rem;
  }
}
.section__rightSide .main {
  width: 90%;
}
@media only screen and (max-width: 950px) {
  .section__rightSide .main {
    width: 100%;
  }
}

.section__heading {
  font-size: 4rem;
  letter-spacing: 1px;
  color: #eee;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1100px) {
  .section__heading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .section__heading {
    font-size: 2.4rem;
    width: 90%;
  }
}
.section__paragraph {
  font-size: 2rem;
  width: 70rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-weight: lighter;
  color: #eee;
}
@media only screen and (max-width: 1100px) {
  .section__paragraph {
    font-size: 1.6rem;
    width: 60%;
  }
}
@media only screen and (max-width: 500px) {
  .section__paragraph {
    font-size: 1.4rem;
    width: 80%;
  }
}
.section__btn {
  display: flex;
}
.section__btn--secondary {
  font-size: 1.4rem;
  background-color: rgba(255, 187, 28, 0.9411764706);
  color: #2a3334;
  padding: 1.2rem 3.4rem;
  border-radius: 40px;
  text-decoration: none;
  width: auto;
  transition: background-color 0.2s, transform 0.1s;
}
@media only screen and (max-width: 1100px) {
  .section__btn--secondary {
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 30px;
  }
}
.section__btn--secondary:hover {
  background-color: rgba(255, 197, 61, 0.9411764706);
  box-shadow: 0 0.5rem 2rem rgba(255, 255, 255, 0.4);
}
.section__btn--secondary:active, .section__btn--secondary:visited {
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
}

.section__kits--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 4rem;
}
.section__kits--heading {
  font-size: 4.5rem;
  font-weight: 600;
}
@media only screen and (max-width: 1000px) {
  .section__kits--heading {
    font-size: 4rem;
  }
}
.section__kits--paragraph {
  font-size: 2.2rem;
  text-align: center;
  padding: 0 4rem;
  width: 70%;
}
@media only screen and (max-width: 1000px) {
  .section__kits--paragraph {
    width: 100%;
    text-align: justify;
  }
}
.section__kits--card {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
@media only screen and (max-width: 1000px) {
  .section__kits--card {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
}
.section__kits--item {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 1000px) {
  .section__kits--item {
    width: 55%;
    align-content: center;
    text-align: center;
    border: 1px solid #0b9586;
  }
}
@media only screen and (max-width: 500px) {
  .section__kits--item {
    width: 70%;
  }
}
.section__kits--primary {
  font-size: 2.2rem;
  padding: 0 1.4rem;
}
.section__kits--secondary {
  font-size: 1.7rem;
  padding: 0 1.4rem;
  line-height: 1.5;
}
.section__kits--btn {
  text-decoration: none;
  padding: 0 1.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3cab90;
  cursor: pointer;
}
.section__kits--btn-span {
  font-size: 2rem;
  display: inline-block;
  animation: moveRightToLeft 0.5s infinite;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(2px);
  }
}
.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.569);
  backdrop-filter: blur(0.7rem);
  gap: 2rem;
  border-radius: 12px;
  width: 60%;
  padding: 3rem;
}
@media only screen and (max-width: 1200px) {
  .section__content {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .section__content {
    font-size: 3rem;
  }
}
.section__primary {
  font-size: 4.2rem;
}
@media only screen and (max-width: 600px) {
  .section__primary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 440px) {
  .section__primary {
    font-size: 2.4rem;
  }
}
.section__secondary {
  font-size: 2.2rem;
  text-align: center;
  font-weight: lighter;
  line-height: 1.4;
}
@media only screen and (max-width: 600px) {
  .section__secondary {
    font-size: 1.7rem;
  }
}

.section__energy--left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 1250px) {
  .section__energy--left {
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .section__energy--left {
    width: 80%;
  }
}
.section__energy--left--logo {
  height: auto;
  width: 8rem;
}
.section__energy--left--heading {
  font-size: 3.5rem;
}
@media only screen and (max-width: 600px) {
  .section__energy--left--heading {
    font-size: 2.5rem;
  }
}
.section__energy--left--paragraph {
  font-size: 1.6rem;
}
.section__energy--left--span {
  display: block;
}
.section__energy--right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (max-width: 1250px) {
  .section__energy--right {
    width: 100%;
  }
}
.section__energy--right .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center; /* لتوسيط البطاقات */
  padding: 20px;
}
.section__energy--right .card {
  flex: 1 1 300px; /* تنمو وتتقلص، الحد الأدنى 300px */
  max-width: 350px;
  border: 1px solid #3cab90;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: rgba(199, 255, 236, 0.168627451);
  gap: 2rem;
}
.section__energy--right .card-image {
  height: 150px;
  background-color: #c1e3d4; /* لون خلفية مؤقت للصورة */
  border-radius: 6px;
  margin-bottom: 12px;
}
.section__energy--right .card h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.section__energy--right .card p {
  flex-grow: 1;
  font-size: 14px;
  color: #4b5563;
}
.section__energy--right .card a {
  color: #10b981; /* أخضر */
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

.section__values--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 10rem;
  width: 80%;
}
.section__values--heading {
  font-size: 3.5rem;
}
.section__values--paragraph {
  font-size: 1.7rem;
}
.section__values--cards {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  .section__values--cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
.section__values--item {
  width: 31%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: start;
  border: 1px solid #3cab90;
  background-color: rgba(0, 151, 98, 0.0509803922);
  border-radius: 10px;
}
@media only screen and (max-width: 700px) {
  .section__values--item {
    width: 80%;
  }
}
.section__values--logo {
  width: 8rem;
  height: auto;
}
.section__values--name {
  font-size: 1.8rem;
}
.section__values--description {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media only screen and (max-width: 900px) {
  .section__values--description {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

.section__end--left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 10rem 10rem;
  width: 40%;
  margin-left: 14rem;
}
@media only screen and (max-width: 1200px) {
  .section__end--left {
    width: 80%;
    padding: 0;
    margin-top: -30rem;
  }
}
@media only screen and (max-width: 700px) {
  .section__end--left {
    margin: 0;
    width: 100%;
  }
}
.section__end--logo {
  width: 7rem;
  height: auto;
}
.section__end--heading {
  font-size: 3rem;
}
.section__end--paragraph {
  font-size: 1.6rem;
}
.section__end--right {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 87px;
  border-radius: 24px;
  background-color: rgba(60, 171, 144, 0.0588235294);
  width: 80%;
}
@media only screen and (max-width: 700px) {
  .section__end--right {
    width: 100%;
    padding: 2rem;
  }
}
.section__end--header {
  display: flex;
  justify-content: space-between;
}
.section__end--para {
  color: #3cab90;
}
.section__end--elipses {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.section__end--active {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6b6b6b;
}
.section__end--rest {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.section__end--center {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: left;
  padding-right: 9.5rem;
}
@media only screen and (max-width: 1100px) {
  .section__end--center {
    padding: 0;
    font-size: 2rem;
  }
}
.section__end--user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.section__end--details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section__end--about {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.section__end--about h3 {
  font-size: 1.9rem;
}
@media only screen and (max-width: 1100px) {
  .section__end--about h3 {
    font-size: 1.6rem;
  }
}
.section__end--about p {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1100px) {
  .section__end--about p {
    font-size: 1.3rem;
  }
}
.section__end--arrows {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 1000px) {
  .section__end--arrows {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .section__end--arrows {
    display: flex;
  }
}
.section__end--leftArrow, .section__end--rightArrow {
  border: 1px solid black;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .section__end--leftArrow, .section__end--rightArrow {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-logo {
  width: 180px;
  height: 60px;
  background-color: #cfd8e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin-top: 3rem;
}
.footer .subscribe-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}
.footer .subscribe-form input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
}
.footer .subscribe-form button {
  background-color: #ffc125;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
.footer hr {
  margin: 30px 0;
  border: 0.5px solid #495768;
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
  color: #b0b9c2;
}
.footer .footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer .footer-links a {
  color: #b0b9c2;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0b9586;
  width: 100%;
  height: 8rem;
}
@media only screen and (max-width: 530px) {
  .header {
    justify-content: space-between;
  }
}

.section__solarPanel {
  background-color: wheat;
  height: 100vh;
  background-image: url(../images/header.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 500px) {
  .section__solarPanel {
    background-image: url(../images/header-small-screen.png);
    height: 55vh;
  }
}

.section__feature {
  padding: 10rem 15rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media only screen and (max-width: 1250px) {
  .section__feature {
    padding: 10rem 7rem;
  }
}
@media only screen and (max-width: 700px) {
  .section__feature {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .section__feature {
    padding: 5rem 2rem;
  }
}

.section__power {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 15rem;
  background-image: url(../images/sec2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
}
@media only screen and (max-width: 1100px) {
  .section__power {
    padding-left: 8em;
  }
}
@media only screen and (max-width: 550px) {
  .section__power {
    padding-left: 2em;
  }
}

.section__kits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12rem;
  padding: 8rem 0;
}

.section__replacement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  background-image: url(../images/sec4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section__energy {
  padding: 10rem 12rem;
  margin-top: -5rem;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1250px) {
  .section__energy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 900px) {
  .section__energy {
    padding: 5rem 6rem;
  }
}
@media only screen and (max-width: 600px) {
  .section__energy {
    padding: 0;
    padding-top: 5rem;
  }
}

.section__values {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6rem;
}

.section__end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  width: 90%;
}
@media only screen and (max-width: 700px) {
  .section__end {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 5rem;
  }
}

.footer {
  padding: 40px;
  background-color: #263241;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
